.search-results {
  .repo {
    font-family: sans-serif;
    padding: 10px;
    border-bottom: 1px solid #eee;

    h3 {
      margin-bottom: 10px;

      a {
        text-decoration: none;

        &:not(:visited) {
          color: #0366d6;

        }
      }
    }
  }
}
