.button {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 6px;
  margin-left: 10px;
  height: 30px;
  outline: none;
  cursor: pointer;
  color: white;
  padding: 0 5px 0 8px;

  &:hover{
    opacity: 0.8;
    transition: all 0.1s ease-in-out;
  }
}
